.contenedorBody {
  margin: 1%;
  height: 100vh;
}
.container_title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
}
.input_grupo {
  font-size: 24px;
}
.filter_grupo {
  width: 80%;
}
.contenedorBody {
  margin: 1%;
}
.btn {
  color: rgb(255, 255, 255);
  position: fixed;
  top: 1%;
  left: 40%;
  width: 20%;
}
table {
  font-size: 24px !important;
  width: 100%;
}
.mat-row:hover {
  font-weight: 900;
  outline: solid 1px rgb(255, 0, 200); /* Contorno único alrededor de la fila */ /* Si quieres cambiar el fondo de la fila al hacer hover */
}

.container_filters {
  width: 100%;
  padding-bottom: 2%;
}
.field_filter {
  width: 30%;
  margin-right: 2%;
}
.mat-column-c_nombre_producto {
  font-size: 20px;
  width: 40%;
}
.mat-column-c_descripcion_producto {
  font-size: 20px;
  width: 20%;
}
.mat-column-c_stock {
  font-size: 20px;
  width: 32%;
}
.mat-column-n_activo {
  font-size: 20px;
  width: 8%;
}

td.mat-footer-cell:last-of-type,
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 6px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 6px;
}
.example-container {
  /* max-height: 70vh; */
  overflow: auto;
}
