::ng-deep .mat-dialog-container{
    padding: 0px !important;
  }
  .contenedor{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap:wrap;
     
    }
    .error{
      color: red;
    }
  
    .body{
      padding: 0 24px 24px 24px;
    }
  
  h2 {
      margin: 0 !important;
      padding: 18px 24px 18px 24px;
      background-color: #C2185B;
      color: #fff;
    }
.contenedorBody {
    margin: 1%;
} 
table{
    width: 100%;
}
.varios{
  background-color: red;
  color: white;
}
.no_varios{
  background-color: greenyellow;
  color: black;
}
.mat-column-c_nombre_grupo{
  width: 30%;
}
.mat-column-c_nombre_distribucion_tipo_medida{
  width: 30%;
}
.mat-column-f_valor_porcentaje{
  width: 20%;
}
.mat-column-f_valor_porcentaje_max{
  width: 10%;
}
.mat-column-f_valor_porcentaje_min{
  width: 10%;
}
td.mat-footer-cell:last-of-type, td.mat-cell:last-of-type, th.mat-header-cell:last-of-type{
  padding-right: 6px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
  padding-left: 6px;
}
.input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
  max-width: 50px;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.container_filters{
  padding-bottom: 2%;
}
.field_filter{
  width: 30%;
  margin-right: 2%;
}
